@import "tailwindcss";

/* Global */
html, body, #root {
  background-color: #00000080;
  min-height: 100%;
}

@font-face {
  font-family: "Beaulieu";
  src: url("/fonts/Beaulieu-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.beaulieu-font {
  font-family: "Beaulieu", serif;
}


.roboto-slab {
  font-family: "Roboto Slab", serif;
}


@keyframes slideDown {
  from {
    transform: translate3d(0, -20%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* @keyframes softFloat {
  0%, 100% { transform: translateY(-50%) translateX(0); }
  50% { transform: translateY(-50%) translateX(4px); }
} */


.animate-slide-down {
  animation: slideDown 1s ease-out forwards;
}

.animate-fade-up {
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 0.9s;
  opacity: 0;
  will-change: transform, opacity;
}



@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-left {
  animation: fadeLeft 1s ease-out forwards;
}

.animate-fade-right {
  animation: fadeRight 1s ease-out forwards;
}
